*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}


.left{

    width: 25vw;
    padding: 10px;
    
}


.right{
    width: 75vw;
}

.home{
    
}

.home ul li{
    list-style: none;
    width: 15px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    
}

.heading{
    align-items: center;
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 23px 14px;
    font-size: x-small;
    

}

.library{
    min-height: 80vh;
    position: relative;
}

.heading img{

    width: 25px;
}
.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.footer{
    gap: 12px;
    display: flex;
    position: absolute;
    bottom: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    flex-direction: row;
}

.footer a{
    color: grey;

}

.right{
    margin: 16px 0px;
}
.nav{
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
    align-items: center;
    background-color: rgb(34 34 34);
}


.signup{
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    color: grey;
    margin-right: 15px;
    
}
.login{
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 40px;
}